*{
  font-family: "Lucida Console", Monaco, monospace;
}

ul{
  list-style: none;
}

body{
  background-color: #0f2c1b;
}

a{
  color: green;
}

a:hover{
  color: green;
}

/*any sublist is not bordered or padded*/
li li, li ul{
  border-width: 0px;
  padding: 0px;
}

li{
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 6px;
  margin: 10px;
}

ol, ul{
  padding: 20px;
}

.container{
  background-color: #679a7c;
}

.jumbotron{
  background-color: #bed3c7;
  margin-bottom: 0px;
  margin-top: 10px;
}

.header-style{
  text-align: center;
  padding: 0px;
  margin: 0px;
  padding-top: 20px;
}

.well{
  background-image: linear-gradient(to bottom,#276f45 0,#276f45 100%);
}

#yusuf{
  width: 250px;
  height: auto;
  float: left;
  padding: 20px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #276f45;
}

#title{
  margin-bottom: 0px;
  text-align: center;
  font-size: 40px;
  color: #FFFFFF;
}
