/*
.container{
  width: 1500px;

}
p{
  color: blue;
}
*/
#yusuf{
  width: 250px;
  height: auto;
  float: left;
  padding: 20px;
}
#portland{
  color: red;
}
#col{
  background-color: #bed3c7;
  height: 500px;
  border-radius: 6px;
}

.container{
  background-color: #679a7c;
}
body{
  background-color: #276f45;
}
.jumbotron{
  background-color: #bed3c7;
  margin-bottom: 0px;
  margin-top: 10px;
}
